### Conversion:
from df_final_1.csv -> district-{N}.json

This will match the FusionTables query response expected by the app

In [20]:
import json
import pandas as pd

In [28]:
df = pd.read_csv('output/df_final_1.csv')

In [29]:
df.columns

Index(['Name', 'Latitude', 'Longitude', 'senateId', 'incomeAmount',
       'mnnSectorCode', 'assetAmount'],
      dtype='object')

## Example One-District Slice

#### slice to specfic district

In [33]:
senate_id = 6
df2 = df[df['senateId'] == senate_id]
df2.shape

(1019, 7)

#### sort DESC and limit = 200

In [34]:
df2 = df2.sort_values(by='incomeAmount',ascending=False)

In [35]:
N = 200
df2 = df2.iloc[:N,:]
df2.shape

(200, 7)

##### convert shape to rows based array

In [36]:
d = {}
for k in df2.keys():
    d[k] = df2[k].to_list()
    
d_len = len(d[list(d.keys())[0]])

rows = []
for i in range(d_len):
    _row = [d[k][i] for k in list(d.keys())]
    rows.append(_row)

In [37]:
    
out_rows = {'rows': rows}

In [38]:
print(df2.shape)
df2.head(3)

(200, 7)

,Name,Latitude,Longitude,senateId,incomeAmount,mnnSectorCode,assetAmount
1777,AMHERST COLLEGE TRUSTEES,42.340368,-72.505087,6,708268667.0,1,2.748966e+09
30894,TRUSTEES OF THE SMITH COLLEGE,42.317898,-72.634794,6,353114072.0,1,2.030566e+09
30869,TRUSTEES OF MOUNT HOLYOKE COLLEGE,42.255793,-72.576648,6,304504818.0,1,8.636314e+08

In [40]:
json.dump(out_rows, open(f'output/district-{senate_id}.json', 'w'))

##### Now copy to file to `app/data/` directory

## Do all districts

In [41]:
N = 200

for senate_id in range(1, 41):
    
    df2 = df[df['senateId'] == senate_id]
    df2 = df2.sort_values(by='incomeAmount',ascending=False)

    df2 = df2.iloc[:N,:]

    d = {}
    for k in df2.keys():
        d[k] = df2[k].to_list()

    d_len = len(d[list(d.keys())[0]])

    rows = []
    for i in range(d_len):
        _row = [d[k][i] for k in list(d.keys())]
        rows.append(_row)

    out_rows = {'rows': rows}
    
    json.dump(out_rows, open(f'output/district-{senate_id}.json', 'w'))