### Conversion:
from df_final_1.csv -> district-{N}.json

This will match the FusionTables query response expected by the app

In [1]:
import json
import pandas as pd

In [53]:
df = pd.read_csv('output/df_final_1.csv')

In [54]:
df.columns

Index(['Name', 'Latitude', 'Longitude', 'senateId', 'incomeAmount',
       'mnnSectorCode', 'assetAmount'],
      dtype='object')

#### Move these to convert-2

In [55]:
df.fillna(0, inplace=True)

In [56]:
df['senateId'] = df['senateId'].astype('int')

In [77]:
# something seems wrong
df['senateId'].value_counts()

0     4825
27    2197
40    1522
29    1396
16    1303
28    1152
14    1122
20    1021
26    1021
1     1005
10     925
2      859
34     838
39     817
5      791
30     783
24     778
21     769
25     763
15     754
23     732
19     702
22     678
31     650
9      646
36     588
7      575
12     555
37     548
13     548
3      540
11     539
38     525
18     523
35     490
33     486
Name: senateId, dtype: int64

#### slice to specfic district

In [71]:
senate_id = 5
df2 = df[df['senateId'] == senate_id]
df2.shape

(791, 7)

##### convert shape to rows based array

In [73]:
d = {}
for k in df2.keys():
    d[k] = df2[k].to_list()
    
d_len = len(d[list(d.keys())[0]])

rows = []
for i in range(d_len):
    _row = [d[k][i] for k in list(d.keys())]
    rows.append(_row)

In [74]:
    
out_rows = {'rows': rows}

In [75]:
json.dump(out_rows, open('output/district-6.json', 'w'))

In [78]:
df2

,Name,Latitude,Longitude,senateId,incomeAmount,mnnSectorCode,assetAmount
4,104TH US INFANTRY VETERANS AEF ASSOCIATION INC,42.193138,-72.628099,5,0.0,3,0.0
76,4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,42.191837,-72.673919,5,0.0,4,0.0
79,4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,42.053713,-72.771746,5,0.0,4,0.0
80,4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,42.052648,-72.804600,5,0.0,4,0.0
92,4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,42.127629,-72.777987,5,42168.0,4,105660.0
...,...,...,...,...,...,...,...
33761,YMCA OF GREATER WESTFIELD INC,42.120059,-72.755341,5,4540737.0,2,9864534.0
33807,YOUNG PROFESSIONAL SOCIETY OF GREATER SPRINGFI...,42.170731,-72.604842,5,45963.0,7,19149.0
33811,YOUNG SINGERS OF GREATER WESTFIELD INC,42.084277,-72.677603,5,10724.0,4,5324.0
33822,YOUR OLIVE BRANCH INC,42.274104,-72.661739,5,57186.0,10,1394.0
33930,ZONTA INTERNATIONAL,42.212562,-72.664016,5,0.0,9,0.0

##### Now copy to file to `app/data/` directory